<h1>2020 Rattlesnake Ramble Race Report</h1>

September 10, 2020

<p>The 16th annual Rattlesnake Ramble was maybe the most successful ever. How? Well, we raised more money than ever before and will be donating over $4300 to rescue and climbing charities. Oh, and we had the fastest men’s race ever with 12 runners breaking 30 minutes and for the first time runners breaking 27 minutes! Jackson Brill took home his third consecutive title and crushed the course record (previously held by 5-time winner John Tribbia), finishing in an astounding 26:32! Tate Knight also broke 27 minutes, finishing in 26:50. Newcomer Dan Feeney rounded out the podium with a time of 27:35.

<p>The women’s field also had an extremely fast finisher. Newcomer Emma Kenyon ran a near-record 32:47. Newcomer Tess Amer was second in 34:46 and former champion M.E. Rauch finished third in 35:50.

<p>Due to the COVID virus, the race was started in 10-person waves. Of note was Brenton Knight, who was the last to sign up for the race, late the night before, so was put in the last wave, as the others were full at this point and we didn’t get a predicted time for him. Starting in 90th place, he must have had a great time passing most of the field to finish 15th overall. This guy will be starting at the front next year.

<p>Due to COVID-19, the Ramble started with seeded waves of ten runners each, separated by 15 seconds. The seeding generally worked out pretty well with the first wave taking eight of the top ten spots. The interlopers were two amazing runners. Kyle Richardson, 24, and Michael “Spicoli” Reese, 26. Kyle took fourth place in 27:41 and became one of only six people to ever break 28 minutes at the Ramble. That small club doubled in size this year. Spicoli finished 9th with a time of 28:45.

<p>Twelve kids ran the kids course and all did well, but the winner, Beau Butt, age 8, was way out in front. I see a bright future for that kid and hope to see him in the main field in five years.

<p>Special thanks to Mark Oveson and OpenSplitTime.org for timing the event.
<p><h1>
  <a target="_blank" href="https://www.opensplittime.org/events/2020-rattlesnake-ramble-full-course/spread">Long Course
    results are here (86 finishers)</a></h1>
<p><h1><a target="_blank" href="https://www.opensplittime.org/events/2020-rattlesnake-ramble-kids-run/spread">Kids' Race
  results are here (12 finishers)</a></h1>


<p>A big shout-out to all the awesome volunteers, especially Sheri Wright, Derek Wright, Danny Gilbert, Joseffa Meir,
  Homie and Mia Prater, Stefan Griebel and family, the ACE crew, Rocky Mountain Rescue, and the following:

<ul>
  <li>Schuyler Wright</li>
  <li>Noah Schuylerfriendinski</li>
  <li>Greg Paugh</li>
  <li>Darren Smith</li>
  <li>Joseffa Meir</li>
  <li>Corey Kline</li>
  <li>Mike Schlaugh</li>
  <li>Naomi Guy</li>>
  <li>Justen Sjong</li>
  <li>Coffi Rodges and family</li>
  <li>Sue Armijo</li>
  <li>Deanna Ardrey</li>
  <li>Rush Combs</li>
  <li>Jacob Scheiffler</li>
  <li>Jackson Brill</li>
  <li>Ted Bradley</li>
  <li>Scarlett Snyder</li>
</ul>

<p>These are smartest, hard-working, best volunteers I can imagine. Without them this race wouldn't even start.

<p>Thanks to Thomas Holloway, Andrew Hibbett, Tom Karpeichik, Bill Hanson, and Ted Bradley for taking photos and videos.
<p>
  <h1>
    <a target="_blank" href="https://photos.google.com/share/AF1QipNKqHQAsJ7x0vUuMgED_3vypvm9ylI4mnLARdEA3EoNUnAQvID6RcbBeWnmNaJ5Gg">All Photos Here</a>
    </h1>
<h1>
    Race Video Here -- coming within a couple of weeks
    </h1>
</p>


<p>Thanks to all the great sponsors, including Liberty, Coros, Kahtoola, La Sportiva, Scarpa, Neptune
  Mountaineering, Rock and Resole, Noodles, CAMP, Eldorado Water Company, Scratch Labs, The Spot climbing
  gym, inMotion Running, Ultimate Directions, Sharp End Books, Petzl, the Alpine Training Center, North Face
  Chipotle and EVO Climbing Gym. This is an incredible group of generous companies all contributing to make climbers and
  outdoor adventurers safer.

<p>It is my deepest honor to be associated with these runners, these volunteers, these sponsors, these individuals. The Ramble is one of the best days of year for me and why not? I get to see and hang out with the best people I know. In this horrible year of many challenges and social distancing, getting together with all of you was even more special. Yes, we might have kept some distance and, yes, with our masks on, none of you noticed that I now have a ZZ Top beard, but it was still uplifting. Together, even if slightly apart, we can do great things.

<p>Please send me any suggestions on how to improve the race. I want to earn your entry and your support. I hope to see you all again for the 17th Annual Rattlesnake Ramble in 2021!

<p>We raised $3800 for Rocky Mountain Rescue Group, Action Committee for Eldorado, and the Boulder Climbing Community!</p>

<p>Thanks,
<p>Bill Wright
<p>Rattlesnake Ramble Race Director