<h1>2021 Rattlesnake Ramble Race Report</h1>

<p>September 11, 2021</p>

<p>The 17th annual Rattlesnake Ramble was a huge success and raised a record amount of money ($4500) for rescue and climbing charities.</p>
<p>A 13-kid wave started first and featured a few girls in costume. This wave was won by 12-year-old Stella Snyder. She’ll be moving up to the Long Course next year. In second place and the first male was 9-year-old Ansel Franz. Rounding out the Kids’ podium was 11-year-old Seneca Griebel.</p>
<p>Next up were the Men, highlighted by 3-time defending champion and even-year-course-record-holder Jackson Brill. Back from last year were Kyle Richardson and Dan Feeney. Michael Reese led the pack in the brutal first half-mile up to the Fowler Junction, but then relinquished the lead to the aforementioned trio. These three battled shoulder-to-shoulder all the way out and all the way back, with Jackson doing most of the leading, but Dan also taking a turn at the front. Mountain runner Richardson was biding his time for the Eldorado climb, trying to hang on during the flatter sections.</p>
<p>At the start of the Eldorado climb, it quickly became a two-man race. Brill took the holeshot onto the single track, but Richardson went by early, trying to break the champion on the steep, rocky terrain. This was racing at its very best, with both using track tactics to run the tangents and preventing any easy passing. At times, they were so close together their arms would touch. At the very top, Brill pushed into the lead, knowing it was suicide to let Richardson lead the descent, as steep downhill is his specialty. Alas, Brill stamped his authority on the Rattlesnake Ramble on the basis of his descending speed.</p>
<p>Brill would later say that he was maxed out on this descent, absolutely pegged. They hit the road and it was now all about foot speed and pain tolerance. On the initial descent to the bridge, Brill put in a surge and gapped Richardson by a meter or two, only to have that countered on the last rise, with Richardson edging out in front with a half-mile to go.</p>
<p>In all three past victories, Brill had the win sewn up by this point. Here he wasn’t even leading. The battle on the hill had sapped his legs and his lungs, which was Richardson’s intent. But you don’t become a champion without knowing how to suffer. Brill didn’t want it coming down to the final sprint for the chute, so he redlined early. At a pace he knew wasn’t sustainable for a half-mile, Brill broke away, hoping to break Richardson’s will. The gap opened up. One second, two, four, five seconds. Both running this last half-mile at a 4-minute-mile pace.</p>
<p>Brill hung on to win his fourth Rattlesnake Ramble, in a course-record time of 27:00. He now owns the record for both the odd-year and even-year courses. Richardson finished just six seconds back in the second-fastest time ever run on the odd-year course.</p>
<p>The last spot on the podium was heavily contested between Dan Feeney and newcomer Bill Ulrich, with Ulrich taking third in 28:31, just five seconds ahead of Feeney.</p>
<p>2015 Champion, David Glennon, was the Masters champion (and sixth overall) in 30:03.</p>
<p>For the second year in a row, the Women’s field had an outlier break away early and stretch her lead the entire race. While a Rattlesnake Ramble rookie, Sara Kadlec was no stranger to the front of a race. She was the heavy favorite at the start and won by over four minutes. She busied herself sweeping by nearly half the Men’s field that started with a 5-minute lead. Her time of 32:09 was the third-fastest ever on the odd-year course.</p>
<p>Sara Freix finished second in 36:25 and Annie Weinmann was third in 36:49.</p>
<p>Former champion and Master’s record holder Lisa Goldsmith won the Women’s Masters division in 40:26.</p>

<h3><a target="_blank" href="https://www.opensplittime.org/events/2021-rattlesnake-ramble-full-course/spread">Long Course
  results are here (85 finishers)</a></h3>
<h3><a target="_blank" href="https://www.opensplittime.org/events/2021-rattlesnake-ramble-kids-run/spread">Kids' Race
  results are here (13 finishers)</a></h3>

<p>Special thanks to Mark Oveson and OpenSplitTime.org for timing the event, to Rocky Mountain Rescue Group for supplying medical support, and to all the great volunteers that make this race happen:</p>
<p>Sheri Wright, Derek Wright, Gayla Wright, Joseffa Meir, Sue Armijo, Jeff Thorn, Magoo, Miss Muffin, Jackson Brill, Mike Schlauch, Matt Reeser, Homie Prater, Mia Prater, Stefan Griebel, Tom Karpeichik, Thomas Hollowell, Rodgers' Family, RMR Support, Denise Rahme, Rush Combs, Brian Lehman, Forrest Lundstrom, Chris George, Jack Neus</p>
<p>Prizes were available for every single runner and volunteer at this race. These were graciously and generously provided by all our great sponsors:</p>
<p>Liberty, Coros, Kahtoola, La Sportiva, Scarpa, Altra, Neptune Mountaineering, Rock and Resole, Noodles, CAMP, Eldorado Water Company, The Spot Climbing Gym, inMotion Running, Ultimate Direction, Sharp End Books, the Alpine Training Center, Chipotle, CAMP, Boulder Rock Club, Dynafit, and G1 Climbing Gym</p>

<p>Photos are coming soon...</p>
