<h1>2022 Rattlesnake Ramble Race Report</h1>

<p>September 17, 2022</p>
<p>With 4-time defending champion Jackson Brill not attending and last year's second place finisher Kyle Richardson out with an injury, the race was due for a new champion. Billy Ulrich (third last year) seized the opportunity and led wire to wire with a fantastic time of 28:06. Tate Knight, one of only two people to ever run under 27 minutes, rallied from fourth place coming down the Eldorado Hill to take second in 28:35. Rounding out the podium was Kyle Lund with a time of 28:40.
<p>Sara Freix, second last year, took her first win at the Rattlesnake Ramble with a time of 34:21, but it was a very competitive women's field and a close race the entire way. Rachel Mow was just eight seconds back in 34:29 and Megan Cooke rounded out the podium in 35:04.
<p>Jeff Schuler won the Men's Masters (and was 8th overall) in 30:19. Kelly Harrington won the Women's Masters in 37:26 (6th overall female). Both of these are stellar performances.

<h3><a target="_blank" href="https://www.opensplittime.org/events/2022-rattlesnake-ramble-full-course/spread">Long Course
  results are here (91 finishers)</a></h3>

<p>There were 17 runners in the Kids' Race. Ansel Franz won it in 16:24, but the fastest girl, Ayana Chopra, was right behind him in 16:37. Of special note was three-year-old William Crim (34:48) and two-year Neve Pearson (50:57), who ran/walked every step under their own power. Those are some determined tykes!

<h3><a target="_blank" href="https://www.opensplittime.org/events/2022-rattlesnake-ramble-kids-run/spread">Kids' Race
  results are here (17 finishers)</a></h3>

<p>Thanks to all my great volunteers with special callouts to Mark Oveson (timing), Joseffa Meir (check-in, prizes, food), Stefan Griebel and daughters (setup, road signs, teardown, gear shuttling), Eric Lee (parking, traffic control), John and Mia Prater (setup, checkin, timing, teardown), and Sheri Wright (just about everything). But all my volunteers were stellar. I do nearly nothing on race day. I like it that way. I can race too. My volunteers were:

<ul>
  <li>Sheri Wright</li>
  <li>Mark Oveson</li>
  <li>Joseffa Meir</li>
  <li>John Prater</li>
  <li>Mia Prater</li>
  <li>Stefan Griebel</li>
  <li>Eric Lee</li>
  <li>Danny Gilbert</li>
  <li>Theo Gritz</li>
  <li>Justen Sjong</li>
  <li>Matt Reeser</li>
  <li>Derek Clemmensen</li>
  <li>Michael Reese</li>
  <li>Jeff Thorn</li>
  <li>Erik Sanders</li>
  <li>Denise Rahme</li>
  <li>Rush Combs</li>
  <li>Dan Snyder</li>
  <li>The entire RMR crew</li>
</ul>

<p>I know I'm forgetting a few other volunteers. My apologies. I'm trying to keep better track going forward.

<p>Special thanks to our volunteer photographers Todd Straka, Thomas Hollowell, and Jake DiSanto.
<p>Photos from the race can be viewed <a target="_blank" href="https://photos.app.goo.gl/gLui1FX1WweTnCa88">here</a>.

<h3>Video Coming Soon</h3>

<p>Our signature sponsor this year and for the past five years has been Liberty. They completely fund the expenses for this race with their donation of $1000. This race has a reputation for incredibly generous sponsors, and everyone who enters or volunteers at this race goes home with some prize. Each year I'm so touched by their generosity. Our sponsors for this year were:
<ul>
  <li>Alpine Training Center</li>
  <li>Altra</li>
  <li>Black Diamond</li>
  <li>Boulder Rock Club / Total Climbing</li>
  <li>C.A.M.P.</li>
  <li>Chipotle</li>
  <li>Coros</li>
  <li>Deuter</li>
  <li>Einstein's Bagels</li>
  <li>Eldorado Water Company</li>
  <li>Fixed Pin Publishing</li>
  <li>G1 Gym</li>
  <li>inMotion Running & Rehabilitation</li>
  <li>Kahtoola</li>
  <li>La Sportiva</li>
  <li>Liberty</li>
  <li>Neptune Mountaineering</li>
  <li>Night Lights</li>
  <li>Noodles</li>
  <li>Rock and Resole</li>
  <li>Scratch Labs</li>
  <li>Sharp End Books</li>
  <li>Starbucks</li>
  <li>Strava</li>
  <li>The North Face</li>
  <li>The Spot / EVO Gym</li>
</ul>

<p>The Rattlesnake Ramble Charity puts on this race and is a 501c(3) organization. Complete financial information for this race is available from me at any time if you are curious. I'm working on posting this on the website.

<p>Please continue with the Ramble, whether that is running, sponsoring, or volunteering. Tell your friends, too. I hope to see you all next year,

<p>Bill Wright
<p>Rattlesnake Ramble Race Director



