<h1>2023 Rattlesnake Ramble Race Report</h1>

<p>September 16, 2023</p>

<p>The 19th annual Rattlesnake Ramble was a huge success and raised a record amount of money ($5211) for rescue and climbing charities.

<p>A 19-kid wave started first and while all had a good time, the kids were turned around early and ran a shorter course. Hence, no course records this year. We'll get that corrected next year.

<p>Next up was the men's race won by newcomer Alastair Thurlbeck in an outstanding time of 27:45. In hot pursuit was David Kennedy (28:05) and Brian Walker (28:43), also a newcomer. The men's field included our first ever para-athlete. Dave Mackey, previous Ramble champion when he had two legs, won the para division (admittedly small with a field of one) in 41:17.

<p>The women's field was marked by the return of course-record holder Deanna Ardrey. Since her last win in 2019, she had a catastrophic leg break, became a mom and a Master's runner. She not only won the race overall, but set a new Master's record of 33:15. She vows to return next year and lower that record. In second was Megan Cooke in 33:51, followed by last year's champion Sara Feix in 34:16, which was five seconds faster than her winning time last year. Megan was third last year in 35:04, so she really stepped it up this year.

<p>Craig Randall won the Men's Masters division in 29:48 and Kate Davis won the Women's Masters in 37:51.

<a href="https://www.opensplittime.org/events/2023-rattlesnake-ramble-full-course/spread">Long Course Full Results</a>
<a href="https://www.opensplittime.org/events/2023-rattlesnake-ramble-kids-run/spread" >Kids' Course Full Results</a>

<p>Special thanks to Mark Oveson, John "Homie" Prater and his team, and OpenSplitTime.org for timing the event; to Rocky Mountain Rescue Group for supplying medical support; Todd Straka, Bill Hanson, and Tom Karpeichik for the photos and videos, and to all the rest of the great volunteers that make this race happen:
Sheri Wright, Joseffa Meir, Mike Schlauch, Stefan Griebel, Denise Rahme, Rush Combs, Forrest Lundstrom, Schuyler and Greg Paugh, Chris George, Eric Lee, Danny Gilbert, Juston Sjong, Jeff Thorn, Tim Shanahan, Kevin Lane, Jeff Valliere, and any others I might be forgetting (so sorry).
Prizes were available for every single runner and volunteer at this race. These were graciously and generously provided by all our great sponsors:
Liberty, Coros, Kahtoola, La Sportiva, Altra, Neptune Mountaineering, Rock and Resole, Noodles, CAMP, Eldorado Water Company, The Spot Climbing Gym, Sharp End Books, the Alpine Training Center, Chipotle, Boulder Rock Club, Movement Climbing and Fitness, Nite Ize, Altra, Colorado Mountain School, Skratch Labs, Fixed Pin Publishing, Starbucks, Einstein's Bagels, the North Face and Gravity 1 Climbing Gym.

<p>Photos are available here: https://photos.app.goo.gl/SjA7cJbLXWPJWW8A8

<p> A video of this year's race can be seen here: https://youtu.be/t24sl242OEA

<p>Bill Wright
<p>Rattlesnake Ramble Race Director



