<h1>2024 Rattlesnake Ramble Race Report</h1>

<p>September 21, 2024</p>

<p>The 20th annual Rattlesnake Ramble was a huge success and raised a record amount of money ($11,000) for rescue and climbing charities.

<p>A 18-kid wave started first. This year the kids' all received a ribbon, a free scoop of ice cream from the local ice cream truck, and a free entry to the Lewis
Sweet shop, and, first time, got to pick from there very own Kids' Prize Table. It was a bit hit
and we will be continuing that tradition.

<p>Next up was the men's race won by the second fastest Rambler ever: Tate Knight. He's on of only
  two people to ever break 27 minutes on this course. The other is record-holder Jackon Brill. This year
  Tate wasn't quite as fast (27:30), but was plenty fast enough to secure the win by 50 seconds over last year's
  runner-up David Kennedy (28:20). Rounding out the podium was newcomer Marshall Graybill with an impressive time
  of 28:56.

<p>The women's champion was former champion Sara Freix (34:36). Sara has now run the Ramble four times and
  never finished lower than third. In second was newcomer Gwen Golaszewski (35:02) and the podium was rounded
  out by Rachel Pifer (35:37).

<p>Craig Randall repeated as the Men's Masters champion (30:36, and 7th overall)
  and Chris Casey, at 58 years old, won the Women's Masters division in 41:52.<br>

<h3><a href="https://www.opensplittime.org/events/2024-rattlesnake-ramble-full-course/spread">Long Course Full Results</a></h3>
<h3><a href="https://www.opensplittime.org/events/2024-rattlesnake-ramble-kids-run/spread" >Kids' Course Full Results</a></h3>

<p>Special thanks to Mark Oveson, John "Homie" Prater, Randall Oveson, Ryan Marsters, Denise Rahme, and Rush Combs
  and OpenSplitTime.org for timing the event;
  to Rocky Mountain Rescue Group, led by Alison Sheets, for supplying medical support;
  Bill Hanson, Sam Forsyth, Jacob Winey and others for the
  photos and videos, and to all the rest of the great volunteers that make this race happen:

Sheri Wright, Joseffa Meir, Emma Nix, Mike Schlauch, Stefan Griebel, Denise Rahme, Rush Combs, Danny Gilbert, Naomi, Jennifer Kim, Natalie Feng, Andrew Weinstein, Tyler Scripps, Yiran Li, Samir Chopra, Kevin Smith, Magoo, Grace Waida, Ron Gusek and any others I might be forgetting (so sorry).
Prizes were available for every single runner and volunteer at this race. These were graciously and generously provided by all our great sponsors:
  Liberty, Alpine Training Center, Black Diamond, Colorado Mountain School, Movement Climbing Gym, Peak State Coffee, Petzl, Scratch Labs, Sherpas Restaurant, Starbucks, The North Face, Kahtoola, La Sportiva, Scarpa, Altra, Neptune Mountaineering, Rock and Resole, Noodles, CAMP, Eldorado Water Company, The Spot Climbing Gym, Sharp End Books, the Alpine Training Center, Chipotle, CAMP, Boulder Rock Club, G1 Climbing Gym, The SPOT climbing gym, Lewis Sweet Shop, and Lamar Donuts


<p>Photos are available <a href="https://photos.app.goo.gl/DTUtQV25C4CV8LiY9">here</a>.

<p> A video of this year's race can be seen <a href="https://youtu.be/FCLRb4i4iBs">here</a>.

<p>Bill Wright
<p>Rattlesnake Ramble Race Director



