<h1>2025 Rattlesnake Ramble Race Report</h1>

<p>September 20, 2025</p>

<p>The 21st annual Rattlesnake Ramble was a huge success, raising thousands of dollars for rescue and climbing
  charities. 135 adults signed up, and 108 runners finished the full course.</p>
<p>
  A 15-kid wave started first, and Declan Walsh repeated as the Boys' Champion in a blistering time of 13:14.
  George Barnes V was second, and Graham Beezley was third. Harper Watts won for the Girls in 13:56. Julia Mangat
  and Joule Brown rounded out the Girls' podium.
</p><p>
  Next up was the men&#39;s race, won by three-time finisher Brian Walker. Walker ran his best time, 28:18, and won by
  46 seconds, going away, but he didn&#39;t really break the race apart until the descent on the Eldorado Spur, using
  his extensive trail running background to good effect. Youngest Aedan (yes, spelled correctly) McFall, 24, led the way
  up the climb before succumbing to the agile Walker. Preston Cates led early and held on for third place. Dave Mackey,
  a former champion, three-peated as the Para Athlete champion in 40:57.
</p><p>
  A stellar new entrant marked the women&#39;s field: Flannery (yes, her real name) Davis. The newcomer ran an
  impressive 32:45 -- the 4th fastest time ever. In second place was another fast first-timer Karley (yup, spelled this
  way) Rempel, who ran 33:48 -- 11th fastest ever. Filling out the podium, and having a nice battle with Rempel, was
  Annie Weinmann in 33:59.
</p><p>
  Craig Randall finished 4th and defended his Master&#39;s title in 31:04, and Tina Gina Larter won the Women&#39;s
  Masters in 39:42.
</p><p>
  <a class="c10" href="https://www.google.com/url?q=https://www.opensplittime.org/events/2025-rattlesnake-ramble-full-course/spread&amp;sa=D&amp;source=editors&amp;ust=1759023965834476&amp;usg=AOvVaw2SKv-zQpdZPwthPMJDjZy5">Long
    Course Full Results</a>
</p><p>
  <a class="c10" href="https://www.google.com/url?q=https://www.opensplittime.org/events/2025-rattlesnake-ramble-kids-run/spread&amp;sa=D&amp;source=editors&amp;ust=1759023965834642&amp;usg=AOvVaw2WwQAmhlTAu7o63DAGCV03">Kids&#39;
    Course Full Results</a>
</p><p>
  Special thanks to Mark Oveson, Randall Oveson, John &quot;Homie&quot; Prater and their team, and OpenSplitTime.org for
  timing the event; to Rocky Mountain Rescue Group for supplying medical support; Sam Forsyth, Bill Hanson, George
  Barnes, and Yiran Lee for the photos and videos, and to all the rest of the great volunteers that make this race
  happen:
</p><p>
  Sheri and Derek Wright, Renee Bialas, Mike Schlauch, Stefan Griebel, Denise Rahme, Rush Combs, Schuyler and Greg
  Paugh,, Eric Lee, Danny Gilbert, Emma Nix Simon, Kevin Smith, Mark, Spencer and Irene McGaughey, Katie Gates, Jason
  Antin, Armin Gooden, Sri, Ramya, and any others I might be forgetting (so sorry).
</p><p>
  Prizes were available for every single runner and volunteer at this race. These were graciously and generously
  provided by all our great sponsors:
</p>
<p>Liberty, Coros, Kahtoola, La Sportiva, Altra, Neptune Mountaineering, Rock and Resole,
  Noodles, CAMP, Eldorado Water Company, The Spot Climbing Gym, Sharp End Books, the Alpine Training Center, Chipotle,
  Boulder Rock Club, Movement Climbing and Fitness, Colorado Mountain School, Skratch Labs, Starbucks, the North Face,
  Gravity 1 Climbing + Fitness, Lewis Sweet Shop, and Peak State Coffee.
</p><p>Bill Wright</p>
<p>Rattlesnake Ramble Race Director</p>



