<h1>Race Entries for <%= @race_edition.name %></h1>
<hr/>

<% if current_user.present? %>
  <div class="row">
    <div class="col">
      <%= link_to "Unpaid Emails",
          racer_emails_race_edition_path(@race_edition, filter: { paid: 'false' }),
          class: "btn btn-danger btn-small" %>
    
      <% if current_user.admin? %>
        <%= link_to "Print CheckIn Sheet",
            checkin_sheet_race_edition_path(@race_edition),
            class: "btn btn-primary btn-small ms-2",
            target: "_blank" %>
      <% end %>
    </div>
  </div>
  <br/>
<% end %>

<%= render 'race_entries/entries', race_entries: @race_edition.sorted_race_entries %>
