<%= render 'shared/page_title', title: "Racer emails for #{@race_edition.name}" %>

<%= render 'racers/emails' %>

<h5><%= link_to 'Return to Races Listing', races_path, class: 'btn btn-warning btn-small' %></h5>