
<a href="/">
  <div class="logo">
    <%= image_tag 'rattlesnakepre-postrace2010med11.jpg' %>      
  </div>
</a>

<h2>Mission Statement</h2>
The Rattlesnake Ramble Trail Race was started in 2005 by the Action Committee for Eldorado (ACE) as a fund raiser. ACE is a climber advocacy group exclusively involved with climbers in Eldorado Canyon State Park. In addition to managing fixed hardware applications, ACE donates money to the park for trail maintenance and climbing anchor replacement, helping ot make hiking and climbing safer
In 2015, the Rattlesnake Ramble has donated $1000 to the Rocky Mountain Rescue Group (RMRG). This expanded fund raising role prompted the forming of the Rattlesnake Ramble Charity (RRC) in late 2016. RRC is a 501c(3) federal charity with an EIN of 81-5087158 and all donations are tax deductible. 
100% of the money raised by RRC is donated. Currently that goes to ACE and RMRG, but in the future it could be any organization helping to make climbing safer.