<h2>Rattlesnake Ramble Even-Year Course</h2>

<p>A description of the Rattlesnake Ramble course for the even years, meaning this is the course in 2024, 2026, etc.
  The race starts at the west end of the lower parking lot and runs up the main road through the canyon to nearly the
  west end before turning up the Eldorado Trail. The course runs this trail to the park boundary and then turns around
  and runs back down to the road and then eastwards back toward the start. When you get to the Fowler Trail, the race
  follows that trail to the eastern border of the park and then turns around and runs back to the road. Finally, the
  course retraces the initial road section, downhill to the start/finish.
  This course is 4.25 miles long and has 800 of climbing.
</p>

<div>
  <h3>Video of the entire course:</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/0BFdefmZHn4?si=PIn3dahNg5hh000w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div>
  <h3>Map and Elevation Profile for the Course</h3>
  <a href="https://www.strava.com/activities/190372178">
    <%= image_tag 'RattlesnakeRambleEvenYearCourse.png', width: '1200' %>
  </a>
</div>

