<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Ratttlesnake Ramble 2020 Information</h3>
  </div>
  <div class="table">
    <table class="table">
      <tr>
        <td>When</td>
        <td>Saturday, September 12, 2020, <b> New Start Time! </b>7:45 AM Men, 7:50 AM Women, 7:52 AM Kids</td>
      </tr>
      <tr>
        <td>Where</td>
        <td>Eldorado Canyon State Park</td>
      </tr>
      <tr>
        <td>Cost</td>
        <td>$30 for long course (13 and older), $10 for Kids Course (12 and under)</td>
      </tr>
      <tr>
        <td>Relive Race - Eldorado Spur First</td>
        <td><a target="_blank" href="https://www.relive.cc/view/1737737756">https://www.relive.cc/view/1124959569</a></td>
      </tr>
    </table>
  </div>
</div>

<div class="center jumbotron">
  <h1>Sign up for the 2020 Edition</h1>
  <p>The 16th Annual Ramble</p>

   <%= link_to "Enter now!", enter_race_edition_path('rattlesnake-ramble-trail-race-even-year-on-2020-09-12'), class: "btn btn-lg btn-success" %>
   <%= link_to "Enter Kids' Race (12 & Under Only)", enter_race_edition_path('rattlesnake-ramble-kids-race-on-2020-09-12'), class: "btn btn-lg btn-success" %>

</div>
