<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Ratttlesnake Ramble 2017 Information</h3>
  </div>
  <div class="table">
    <table class="table">
      <tr>
        <td>When</td>
        <td>Saturday, September 9, 2017, 8 AM</td>
      </tr>
      <tr>
        <td>Where</td>
        <td>Eldorado Canyon State Park</td>
      </tr>
      <tr>
        <td>Cost</td>
        <td>$25 for long course (13 and older), $10 for Kids Course (12 and under)</td>
      </tr>
    </table>
  </div>
</div>

<div class="center jumbotron">
  <h1>Sign up for the 2017 Edition</h1>
  <p>The 13th Annual Ramble</p>

   <%= link_to "Enter now!", enter_path, class: "btn btn-lg btn-success" %>
</div>



