<h2>Rattlesnake Ramble Kids Course</h2>

<p>This is the Kids' course of the Rattlesnake Ramble Trail Race.
  It is the same course every year and starts at the west end of the lower parking lot
  and runs up the main road through the canyon to the gate at the park's western boundary.
  This is an out-and-back course and is 1.7 miles long with 290 feet of vertical gain.
</p>

<p>This race is open to kids who are 12 years old and younger.</p>

<div>
  <h3>Video of the entire course:</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/y5rGIMvzI0g?si=4GMMew6IgfNFInfa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div>
  <h3>Map and Elevation Profile for the Course</h3>
  <a href="https://www.strava.com/segments/7999291">
    <%= image_tag 'RattlesnakeRambleKidsCourse2.png', width: '1200' %>
  </a>
</div>

