<h1>2019 Rattlesnake Ramble Race Report</h1>

September 14, 2019

<p>The 15th Annual. Rattlesnake Ramble is on the books and it was a good one. Jackson Brill defended his title and came
  within ONE second of John Tribbia's course record. While Jackson eventually won by a comfortable margin, it was a
  great battle until the final descent where his young legs gave him a cushion over the incredible 40-year-old Galen
  Burrell who ran a Master's course record in 28:07, breaking Andy Ames' record of 28:43 from 2005! Chris Grauch, also a
  Masters, finished in third with a time of 28:22 for the second fastest Masters' time ever.

<p>Deanna Ardrey annihilated the women's field, racing off alone from the gun in a failed bid to break her own course
  record. Still, it was the second fastest time ever at 32:04. Second place went to former champion Lisa Goldsmith in
  38:13. Sonia Buckley rounded out the podium in 38:35.

<p>The Men's Masters was won by Wes Thurman in 32:57, beating out Andy Ames. This was Andy's 15th Ramble in a row. He is
  the only runner to do every single Ramble! Ryan Franz was third Masters.

<p>For the Women's Masters it was Shana Solomon, Kateri Ahrendt and Kathryn Russell.

<p>It was the largest kids race ever with 21 finishers. The Boys' race was super tight with Tor Snyder taking first in
  12:32 by one second over Levi Baker, both age 12. In the Girls' race, newcomer Tilly Testa, age 12, broke the course
  record by 7 seconds, finishing in 12:39.

<p>Special thanks to Mark Oveson and OpenSplitTime.org for timing the event.
<p><h1>
  <a target="_blank" href="https://www.opensplittime.org/events/2019-rattlesnake-ramble-full-course/spread">Long Course
    results are here (87 finishers)</a></h1>
<p><h1><a target="_blank" href="https://www.opensplittime.org/events/2019-rattlesnake-ramble-kids-run/spread">Kids' Race
  results are here (21 finishers)</a></h1>


<p>A big shout-out to all the awesome volunteers, especially Sheri Wright, Gayla Wright, Derek Wright, Danny Gilbert, Joseffa Meir,
  Homie and Mia Prater, Stefan and Sheryl Griebel, Magoo, the ACE crew, Rocky Mountain Rescue, Jennifer Fawcett, Jeff
  Thorn, Chris George, Peter Graf, and many others who I'm probably forgetting right now. These are smartest,
  hard-working, best volunteers I can imagine. Without them this race wouldn't even start.

<p>Thanks to Todd Straka, Kyle Richardson, Bill Hanson, Sheri Wright, and Derek Wright for taking photos and videos.
<p>
  <h1>
    <a target="_blank" href="https://photos.google.com/share/AF1QipNKqHQAsJ7x0vUuMgED_3vypvm9ylI4mnLARdEA3EoNUnAQvID6RcbBeWnmNaJ5Gg">All Photos Here</a>
    </h1>
<h1>
    <a target="_blank" href="https://youtu.be/PTEAeiN1RaY">Race Video Here</a>
    </h1>
</p>


<p>Thanks to all the great sponsors, including Liberty, Coros, Kahtoola, La Sportiva, Scarpa, Hoka, Altra, Neptune
  Mountaineering, Black Diamond, Rock and Resole, Noodles, CAMP, Eldorado Water Company, Scratch Labs, The Spot climbing
  gym, Fixed Pin Publishing, inMotion Running, Ultimate Directions, Sharp End Books, Petzl, the Alpine Training Center,
  Chipotle and Moe's Bagels. Just an incredible group of generous companies all contributing to make climbers and
  outdoor adventurers safer.

<p>And what a great group of runners you are. To a person, everyone is so nice and so positive and never complains. What
  a privilege for me to be associated with you and these companies.

<p>We raised $3000 for Rocky Mountain Rescue Group, Action Committee for Eldorado, and the Boulder Climbing
  Community!</p>
<p>Thanks,

<p>Bill Wright
<p>Rattlesnake Ramble Race Director