<h1>All Race Entries</h1>
<hr/>

<div class="col-md-12 pull-right new-model-button">
  <%= link_to "New Entry", new_race_entry_path, class: "btn btn-success pull-left" %>
</div>

<%= render 'entries' %>